<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="privacy-block wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <a href="index.html">Agricultural Technology  production company</a> &copy; <span id="copyright-year"></span>. <a
                  href="index-5.html">Privacy Policy</a>
            More <a rel="nofollow" href="http://www.templatemonster.com/category/video-lab-website-templates/" target="_blank">興聯農業技術 at opulunion.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <script src="js/script.js"></script> -->