<section id="content">

  <div class="wrapper1">
    <div class="container">
      <div class="row">
        <div class="grid_3">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Address</h2>
          </div>
          <address class="contacts-address">
            <span class="our-address wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">興聯農業科技股份有限公司.<br> 42826497<br> 台北市復興南路333號10樓之2.</span>

            <span class="wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><span class="wide">Telephone:</span>+886-2-27185552</span>
            <span class="wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"><span class="wide">FAX:</span>+886-2-27185360</span>
            <span class="wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">E-mail: <a href="mailto:mail@demolink.org" class="simple-link">miko@opulunion.com</a></span>
          </address>
        </div>
        <div class="grid_8 preffix_1">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Contact Form</h2>
          </div>
          <form id="contact-form">
            <div class="contact-form-loader"></div>
            <fieldset>
              <div class="row">
                <div class="grid_5">
                  <label class="name wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <input type="text" name="name" placeholder="Name*:" data-constraints="@Required @JustLetters"/>
                    <span class="empty-message">*This field is required.</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="grid_5">
                  <label class="email wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <input type="text" name="email" placeholder="Email*:" value=""
                           data-constraints="@Required @Email"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid email.</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="grid_5">
                  <label class="phone wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                    <input type="text" name="phone" placeholder="Phone:" value=""
                           data-constraints="@JustNumbers"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="grid_8">
                  <label class="message wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <textarea name="message" placeholder="Message:"
                              data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*The message is too short.</span>
                  </label>
                </div>
              </div>
              <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
              <div class="contact-form-buttons">
                <a href="#" data-type="submit" class="btn-filled wow fadeIn" data-wow-duration="1s"
                   data-wow-delay="0.5s">Send</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="google-map_contacts" style='padding-left:15px;padding-right:15px;'>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.297800166675!2d121.54142531478125!3d25.023965844848068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDAxJzI2LjMiTiAxMjHCsDMyJzM3LjAiRQ!5e0!3m2!1szh-TW!2stw!4v1462132268834" style="border:0"></iframe>
  </div>

</section>
