.slider-for {
  margin-bottom: 20px;
}

.slider-for div {
  text-align: center;
  padding: 5px 10px;
}

.slick {
  margin: 20px 50px 70px;
}

.slider-nav .slick-current {
  background: #333333;
}

.slider-nav {
  text-align: center;
  margin: 10px;
  padding: 10px 0;
}

.slider-for {
  max-height: 400px;
  width: auto;
}

