<h1>訂閱管理</h1>

<table class="table">
  <thead>
    <tr>
      <th>電子郵件</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @admin_subscribes.each do |admin_subscribe| %>
      <tr>
        <td><%= admin_subscribe.email %></td>
        <!-- <td><%#= link_to 'Show', admin_subscribe %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_admin_subscribe_path(admin_subscribe) %></td> -->
        <!-- <td><%= link_to 'Destroy', admin_subscribe, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Subscribe', new_admin_subscribe_path %>
