<h1>網站管理</h1>

<%= render 'form' %>

<%= render :partial => 'uploader' %>

<%= render :partial => 'phone_uploader' %>
<%#= link_to 'Show', @admin_site_config %>
<%#= link_to 'Back', admin_site_configs_path %>
