<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <hr>
  <br>
  <%= image_tag(@admin_image.file.thumb.url) %>
</p>

<br>

<%= link_to 'Edit', edit_admin_image_path(@admin_image), class: "btn btn-link" %> |
<%= link_to 'Back', admin_images_path, class: "btn btn-link" %>
