<section id="content" class="common">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>The story about us!</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_12">
          <div class="box5 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="vimeo-video1">
              <iframe src="//player.vimeo.com/video/37582125" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner2 banner2__inset3 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="slogan">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">We shoot and edit</h6>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">on all formats: film, high definition through to DV and mini DV</h5>
            <div class="row">
              <div class="grid_10 preffix_1">
                <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Quisque et pellentesque eros, vel tempor elit. Vestibulum mauris dui, efficitur in consectetur porta, malesuada ut erat. Nam imperdiet urna in eleifend auctor. Vivamus semper efficitur quam, a scelerisque lorem rutrum nec. Nulla cursus risus non tellus mollis pharetra. Ut varius tincidunt ex, eu tincidunt turpis varius vel. Pellentesque ut efficitur risus. Cras aliquet tincidunt odio, venenatis tempus elit. Donec euismod enim ac sodales pharetra. Nam suscipit purus faucibus sagittis iacu</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper1 wrapper1__inset1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Our services</h2>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">Quisque et pellentesque eros, vel tempor elit. Vestibulum mauris dui, efficitur in consectetur porta, malesuada ut erat. Nam imperdiet urna in eleifend auctor. Vivamus semper efficitur quam, a scelerisque lorem rutrum nec. Nulla cursus risus non tellus mollis pharetra. Ut varius tinci dunt ex, eu tincidunt turpis varius vel. Pellentesque ut efficitur risus. Cras aliquet tincidunt odio, venenatis tempus elit. Donec euismod enim ac sodales pharetra. Nam suscipit purus faucibus sagittis iaculis. In ullamcorper at purus nec bibendum.</p>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="grid_4">
          <div class="box2">
            <i class="fa fa-pagelines wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="#"><strong>Natural</strong><br>and health</a></h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <i class="fa fa-leaf wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="#"><strong>Natural</strong><br>test text</a></h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <i class="fa fa-tree wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="#"><strong>Natural </strong><br>and health</a></h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grid_4">
          <div class="box2">
            <i class="fa fa-cloud wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="#"><strong>Natural</strong><br>and health</a></h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <i class="fa fa-undo wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="#"><strong>Natural</strong><br>test text</a></h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
          </div>
        </div>

        <div class="grid_4">
          <div class="box2">
            <i class="fa fa-umbrella wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"></i>
            <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="#"><strong>Natural</strong><br>test text</a></h3>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.</p>
          </div>
        </div>
      </div>
    






    </div>
  </div>
  <div class="banner2 banner2__inset4 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <div class="slogan">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Lower cost</h6>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">of video production</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"> Ut ac semper arcu, id tempus nunc. Quisque et pellentesque eros, vel tempor elit. Vestibulum mauris dui, efficitur in consectetur porta, malesuada ut erat. Nam imperdiet urna in eleifend auctor. Vivamus semper efficitur quam, a scelerisque lorem rutrum nec. Nulla cursus risus non tellus mollis pharetra. Ut varius tincidunt ex, eu tincidunt turpis varius vel. Pellentesq</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Our best works</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_6">
          <div class="box6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="vimeo-video2">
              <iframe src="//player.vimeo.com/video/37582125" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="grid_6">
          <div class="box6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="vimeo-video2">
              <iframe src="//player.vimeo.com/video/37582125" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="grid_6">
          <div class="box6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="vimeo-video2">
              <iframe src="//player.vimeo.com/video/37582125" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="grid_6">
          <div class="box6 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="vimeo-video2">
              <iframe src="//player.vimeo.com/video/37582125" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper4 wrapper4__inset1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>What we do</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_8">
          <div class="box3 box3__inset1">
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore morem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac semper</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">Quisque et pellentesque eros, vel tempor elit. Vestibulum mauris dui, efficitur in consectetur porta, malesuada ut erat. Nam imperdiet urna in eleifend auctor. Vivamus semper efficitur quam, a scelerisque lorem rutrum nec. Nulla cursus risus non tellus mollis pharetra. Ut varius tincidunt ex, eu tincidunt turpis varius vel. Pellentesque ut efficitur risus. Cras aliquet tincidunt odio, venenatis tempus elit. Donec euismod enim ac sodales pharetra. Nam suscipit purus faucibus sagittis iaculis. In ullamcorper at purus nec bibendum. Int ger feugiat, diam vitae lobortis varius, enim enim tincidunt velit, ut pharetra ur</p>
          </div>
        </div>
        <div class="grid_4">
          <div class="box3 box3__inset1">
            <ul class="list1">
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s"><a href="#">Etiam cursus leo psum</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"><a href="#">Nulla facilisii primis neclaoreet</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"><a href="#">Aenean nec eros luctus</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"><a href="#">Vestibulum ante faucibus orci</a></li>
              <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"><a href="#">Donec porta diam eu massa</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner2 banner2__inset5 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="slogan">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">We are a full service video production company</h6>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">staffed by former BBC personnel. We provide all  the elements you'll require<br>
              for your production; creative brief, scripts, actors, voice overs,<br>
              music and animated graphics.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>