<section id="content" class="common">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>The story about us!</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_12">
          <div class="box5 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="vimeo-video1">
             <iframe  src="https://www.youtube.com/embed/nfYPktsd9bs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner2 banner2__inset3 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="slogan">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">Story</h6>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">wake up from the first beginning----health
</h5>
            <div class="row">
              <div class="grid_10 preffix_1">
                <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">美好的一天從健康開始</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper1 wrapper1__inset1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>Our story</h2>
            <h5>故事、幾年創立、每一年的主要佳績</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">1988年，在桃園市楊梅區的傳統農村創業經營一座畜牧場，名稱就叫「興聯畜牧場」；專職種雞的飼養，共經營了五年後轉為飼養白肉雞事業。</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">1993有鑒於傳統養殖濫用許多抗生素，興聯牧場開始研究飼養無抗生素系統，結合各大生物科技博士進行研究技術。</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">2013年成功轉型無抗生素的養殖技術，所生產的雞肉與雞蛋銷往各有機通路、頂級超市極盡為社會、為環境、為消費者提供更優質的農產品。</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">2015更加提升產業的價值而轉型六級產業，因此遠月五行休閒農場的品牌誕生，將為地球與地球上的萬物提供永續的生長。</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">2016成立「興聯農業科技(股)」將品牌命名為「綠色奇雞」且衍生出「珍香蛋」產品品牌。近幾年食安不斷發生問題，為了台灣、世界人們的健康，就從食材開始，尤其雞蛋幾乎是我們每日不可或缺的營養來源，所以「珍香蛋」採用「興聯畜牧場」無抗生素的養殖技術培養優質雞蛋，注重食物的生產過程，更應該遵循安全的生產方式。</p>
          </div>
        </div>
      </div>




      <div class="row"></div>

      <div class="row"></div>
    






    </div>
  </div>
  <div class="banner2 banner2__inset4 stellar-block" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="grid_10 preffix_1">
          <div class="slogan">
            <h6 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">About us</h6>
            <h5 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">讓本土農產得以永續經營發展</h5>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"> Our layers are also raised in the same non­toxic way.</p>
            <a class="btn-big wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s" href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <div class="wrapper4 wrapper4__inset1">
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="heading1 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2>What we do</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="grid_12">
          <div class="box3 box3__inset1">
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">興聯農業股份有限公司
以道德良心為企業之根優良農產品為經營之本及品質保證為服務之體
我們秉持科學實驗精神及回饋社會公益為用之宗旨
深耕保育台灣這片土地發展落實有機農產品
讓人文與自然回歸最原始的平衡
並持續為環境生態及食用安全盡心竭力
讓本土農產得以永續經營發展
</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">採用全國首創餵食系統及獨家配方的環保飼料
在拒絕施打抗生素與任何化學藥物的堅持下
讓雞群在野外自然放養進而長成緊實鮮嫩的肉質
蛋雞以同樣無毒放養的方式自產自銷建構出幸福農場的概念
雞隻健康與人民的食品安全從根本開始把關
</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">Moral conscience is the root of our enterprise. Excellent agricultural product is the core of our operations. Quality assurance is the foundation of our services. We uphold the purpose of the spirit of scientific experiment and social welfare contribution.
</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">In order to have humanities and nature returned to the most primitive balancealso to continue the dedication with food safety and ecological environment,we are hoping to conserve this beautiful land of Taiwan by the implementation of quality agricultural products, and to ensure the sustainable development of the local agriculture.
</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">We adopt the first feeding system of the country and theeco-feed with exclusive ingredients. Underthe insistence on refusing any antibiotics or chemical drugs, our free-range chickens are therefore rich in tender and juicy meat. Our layers are also raised in the same non­toxic way.
</p>
            <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">We fundamentally ensure the health of chickens as well as the food safety of people by marketing our own productions and constructing the concept of a happy farm.
</p>
          </div>
        </div>
        <!-- <div class="grid_4"></div> -->
      </div>
    </div>
  </div>
  <!-- <div class="banner2 banner2__inset5 stellar-block" data-stellar-background-ratio="0.5"></div> -->
</section>